/* ====== Page load animation ====== */
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(290px);
    filter: blur(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
  }
}

main, footer {
  animation: fade-in 1.2s ease forwards;
  will-change: transform, opacity, filter;
}

@keyframes language-menu-slide {
  0% {
    opacity: 0;
    transform: translateX(10rem);
    filter: blur(0.5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
  }
}

.language-menu.open {
  animation: language-menu-slide 0.8s ease forwards;
  will-change: opacity, transform, filter;
}