/* ====== Reset & Base styles ====== */
html { box-sizing: border-box; }
*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border-radius: 0;
}

body {
  max-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: system-ui, sans-serif;
}

img { display: block; max-width: 100%; }