/* ====== Dark theme ====== */
body.dark { background: #121212; }
body.dark { color: #fff; }
body.dark h1, 
body.dark h2, 
body.dark h3, 
body.dark h4, 
body.dark h5, 
body.dark h6,
body.dark p { color: inherit; }
body.dark a { color: rgb(80, 80, 255); }
body.dark a:hover { color: inherit; }

body.dark .intro-text,
body.dark .about,
body.dark .social {
  background: inherit;
  border: 3px solid #fff;
}